*{
  margin: 0px;
  padding: 0px;
}
.container{
  position: relative;
  /*background-color: pink;*/
  margin-left: 50%;
  left:-250px;
}
table{

}
td{
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
tr:nth-child(n+2)>td:nth-child(n+2){
  border: 1px solid black;
  margin: -2px;
/*  margin: -1px;
  position: relative;
  left:0px;*//*这段话暂时没起什么作业，因而注释*/
}
.inputs{
  margin: 0 auto;
  width:300px;
}
/*#input{
  height: 30px;
}
.btn{
  height: 30px;
  width: 80px;
}*/
.target{
  width: 40px;
  height: 40px;
  /*background-color: green;*/
  position: absolute;
  left:377px;
  top:293px;
  background-color: red;
}
.target div{
  background-color: blue;
}
/*.tail{
  height: 30px;

}*/
.cmd{
  /*border: 1px solid black;*/
  position: absolute;
  left: 480px;
  width: 430px;
  margin-top: 10px;
}
.cmd button{
  width: 100px;
  height: 35px;
  margin-top: 5px;
}
.top{
  width: 100%;
  height: 10px;

}
.right{
  height: 100%;
  width: 10px;
  margin-left: 30px;

}
.bottom{
  width: 100%;
  height: 10px;
  margin-top: 30px;
}
.left{
  height: 40px;
  width: 10px;

}
